@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Changa+One&family=Dosis:wght@600&family=Nunito:wght@300&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
:root {
  --rose: #f34b88;
  --white: #fff;
  --dark: #1e1c2a;
}
body {
  color: var(--dark);
  background: var(--white);
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 40px;
  width: 100%;
  background: var(--white);
  transition: all 0.5s;
  position: fixed;
}
.navigation .logo {
  color: var(--dark);
  font-size: 1.7rem;
  font-weight: 600;
}
.logo span {
  color: var(--dark);
}
.navigation ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navigation ul li a {
  color: var(--dark);
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;
}
.navigation ul li a:hover {
  color: var(--dark);
  text-shadow: 1px 1px 1px rgba(2, 0, 0, 0.4);
  transition: text-shadow 0.3s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.login {
  font-size: 15px;
  font-weight: 300;
  background: #fff;
  color: #000;
  border: 2px solid #000;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}

.login:hover {
  background: #dc3b75;
  color: #fff;
}

.menu {
  cursor: pointer;
  display: none;
}
.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--dark);
  margin: 5px auto;
  transition: all 0.3s;

}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--rose);
}

.menu.ativo .login {
  margin-left: 10px; /* Espaçamento entre o ícone do menu e o botão */
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}
.home-text {
  max-width: 37rem;
  padding: 0px 5%;
}

.home-text .text-h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
}
.home-text p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-bottom: 34px;
}
.home-btn {
  display: inline-block;
  padding: 15px 45px;
  background: #dc3b75;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 4px 4px 0px #dc3b75, inset 3px 3px 0px #fff;
  transition: all 0.2s;
}

.home-btn:active {
  transform: translate(3px, 3px);
  box-shadow: inset 3px 3px 0px #dc3b75;
}
.home-img img {
  display: flex;
  margin-top: 20px;
  width: 100%;
}
@media (max-width: 785px) {
  .navigation {
    padding: 18px 20px;
  }

  .menu.ativo .login {
    display: inline-block;
  }

  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--white);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  
  /*main*/
  .home {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
  }
  .home .text-h4 {
    font-size: 15px;
  }
  .home .text-h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .home p {
    font-size: 15px;
  }
  .home-img {
    width: 125%;
  }
}
