*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    height: 100px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logo{
    font-weight: 900;
    font-size:25px;
    text-decoration: none;
    color:black;
    cursor: pointer;
    
}

a{
    text-decoration: none;
    color:black;
    transition: 0.3s;   
}
a:hover{
    text-decoration: underline;
    color: black;


}

.nav-menu{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.login-btn{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
}

.home{
    display: flex;
    justify-content: space-between;
}

.home-text{
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-left: 120px;
    margin-top: 0;
    justify-content: space-evenly;
}

.home-img{
    display: flex;
    margin-right: 20px;
    margin-top: 50px;
}

.text-h1{
    font-size: 45px;
    font-weight: 900;
   
}

.home-btn{
    display: flex;
    width: 150px;
    height: 50px;
    padding-top: 12px;
    align-items: center;
    justify-content: space-around;
    background: rgb(223, 44, 134);
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    box-shadow: 5px 5px rgb(223, 44, 134), 3px 3px white inset;
}