* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    padding: 32px 0;
    font-size: 100%;
    background-color: #ffffff;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-family: 'soinblack';
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.nav-menu {
    display: flex;
    gap: 32px;
}

.nav-menu-item {
    font-family: 'soinblack';
    color: #000000;
    font-size: 17px;
}

.nav-menu-item:hover {
    font-family: 'soinblack';
    font-size: 17px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
    text-decoration: underline;
    text-underline-offset: 3px;
}

.nav-menu-buttom {
    font-family: 'soinblack';
    cursor: pointer;
    color: #000000;
    font-size: 17px;
    padding: 12px 25px;
    border-radius: 10px;
    background-color: #ffffff;
}

.nav-menu-buttom:hover {
    background-color: #dc3b75;
    color: white;
    transition: all 0.3s;
}

.section-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.div-text {
    display: flex;
    flex-direction: column;
    padding: 100px 220px;
    line-height: 64px;
    gap: 32px;

}

.text-h1 {
    font-family: 'changabold';
    font-size: 64px;
    color: #000000;
}

.text-p {
    font-family: 'soinblack';
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.text-buttom {
    font-family: 'changabold';
    font-size: 17px;
    cursor: pointer;
    background: #dc3b75;
    color: #fff;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    border: 0;
    text-shadow: 2px 2px 2px #ab0642;
    box-shadow: 4px 4px 0px 3px #ab0642;
}

.text-buttom:active {
    box-shadow: 0 0 0 0 #ab0642, inset 3px 3px 3px #ab0642;
    transform: translate(3px, 3px);
    transition: all 0.3s;
}

.main-img {
    margin: 100px 30px 0 0;
}

